/*@import url(//db.onlinewebfonts.com/c/1931c89e6e263ebc99cb5d32d8455b31?family=Cardenio+Modern);*/

@font-face {font-family: "Cardenio Modern";
    src:   url(fonts/"CardenioModernBold.ttf") format("truetype");
}


body, select, input {
  /*base ratio for modular scale for DESKTOP (min-width: 720px) is 1.067 (15/16 or minor second)*/
  /*for MOBILE, we should use another one*/
  /*font-size: 20px;*/
  /*font-size: 16px;*/
  font-size: 1.6rem;
  line-height: 1.5;
}

.drawer .scrollable .wrapper {
    min-height: auto;
}

/*Fix offset that occurs when clicking anchors in the toc*/
:target:before {
content:"";
display:block;
height:65px; /* fixed header height*/
margin:-65px 0 0; /* negative fixed header height */
}

.toc {
  margin-top: 0em !important;
}

.toc li a {
  font-size: 1.2em;
  line-height: 0.5em;
  /*margin-top: 0.2em;*/
  padding-top: 0.2em;
}

/*Make all headers from 1-4 use another font - here Amatica SC - you have to add it to the custom "head.html" partial, though. It's there, but commented out right now.*/
h1,h2,h3 {font-family: "Cardenio Modern", "Arvo",serif; font-weight: bold;}
/*h1,h2,h3,h4 {font-family: 'Love Ya Like A Sister', cursive;}*/

h4 {font-family: "Arvo",serif; font-weight: bold; color: chocolate;}

copyright {
    /*margin: 1.5em 0;*/
    line-height: 1em;
    font-size: 0.5em;
}


.article .wrapper {
padding: 60px 16px 92px;
max-width: 47.5em;
}



.article .data {
  margin: 0 0 0 0;
  /*margin-top: 0;
  margin-bottom: 0.5em;*/
  padding: 0 0 0 0;
  text-align:left !important;
}



.article .data table {
  margin: 0 3px 0.5em 3px;
  /*margin-bottom: 0.5em*/
}


.zustand{
  white-space: nowrap;
  display: inline-block;
}

input {
-webkit-appearance:checkbox;
-moz-appearance: checkbox;
-ms-appearance: checkbox;
-o-appearance: checkbox;
appearance: checkbox;
}

.article {
  font-size: 100%;
}

.article h1 {
  font-size:2.178em;
  padding: 1em 0 0.1em 0;
  margin-bottom: 0.75em;
}

.article h2 {
  font-size:1.575em;
  line-height: 1em;
  margin-bottom: 0.5em;
  padding-top: 0;
  margin-top: 1.5em;
  padding-left: 0;
  color: #b9850b!important;
  /*margin-top: 10px!important;*/
}


.article h3 {
  font-size:1.1em;
  margin-bottom: 0.5em;
  color: darkgreen;
  font-family: Arvo, serif;
}

.article h4{
  font-size:1.1em;
}

.article p {
    margin-top: 0;
    margin-bottom: 0.7em;
    /*padding: 0.5em 0;*/
    line-height: 1.5em;
    /*text-indent: 1em;*/
    /*font-size: 100%;*/
    /*-ms-word-break: break-all;*/
    /*word-break: break-all;*/
    /*Non standard for webkit*/
    word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
    hyphens: auto;
}

.article table, .article thead, .article th {font-size: inherit !important;}

.anchor .current { color: #b9850b!important; }

figcaption {
  font-size: 0.85em;
  line-height: 1.2;
  text-align: center;
  font-style: normal;
}

blockquote {
  margin: 1em 0;
  padding: 0.7em 0.5em;
  border-left: 7px solid rgb(124, 179, 66)!important;
//  background-color: rgb(195, 216, 173);
  color: #4f712b!important;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
    hyphens: auto;
}

blockquote p {
  margin: 0.7em !important;

}

/*blockquote p {
    margin-top: 1em;
    padding-top: 1em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 1px;
    -webkit-margin-end: 1px;
}*/

/*blockquote {
    margin: 1em;
    border-top: 0.1em solid;
    border-bottom: 0.1em solid;
    padding: 0 1em;
    font-family: Palatino, Georgia, serif;
    font-size: 1em;
    color: black;
    border-color: #ccc;
    border-color: rgba(0,0,0,0.2);
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    -o-border-radius: 0.25em;
    border-radius: 0.25em;

font-style: italic;
    line-height: 1.5;
    letter-spacing: 0.05em;

} */

tbody {
  background-color: white;
}

tbody tr:nth-child(odd) {
  background: #eee;
}

.admonition {
  margin: 20px -16px 0;
  padding: 20px 16px;
}

/*increase size of the admonition icon in the notes box*/
.admonition-title:before {
  font-size: 1.3em!important;
  /*color: #03a9f4;*/
  color: green;
  margin-top: 0.4em;
  margin-left: -0.2em;
}

/* Change admonition-note color to a paler blue background and dark text*/
.note {
  margin-top: 0em;
  margin-bottom: 2em;
  /*background-color: #ccf5ff;*/
  background-color:#E2F6CF;
  color: #002733;
  padding-top: 10px;

}

/*smaller padding-top for the header in admonition-notes*/
.note h2 {
  padding: 0 0 0 0;
  margin-top: 0em;
  margin-bottom: 0.0em;
}

.project .logo img {
  border-radius:0%
}

/*Remove the weird list item arrow before each item for buttons*/
/*.repo ul>li:before {
    content: "";
}*/


.repo {
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }


.repo li {
  margin-left:0;
  padding-right: 0;
}

.repo img {
  float: left;
}

.repo a {
  color: white!important;
  text-align: left;
  font-size: 14px;
  margin-bottom: 10px;
  text-transform: none;
  border-bottom: none;
  min-width: 15em;
  height: 5em;
  background-color: #00bcd4;
}

.repo-download {
    padding: 0em;
    margin-left: 0;
    margin-right: 0;
  }

  .repo-download a {
    /*padding-top: 0.3em;*/
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }

  .repo-download a>img {
    width: 4em;
    margin: 0 0.5em;
    /*align-self:flex-start;*/
    /*float: left;*/
    /*float: right;*/
    /*padding-top: 0.3em;*/
  }



.repo li:before{
    content: ""!important;
    margin-left:0!important;
    margin-right: 0;
    /*display:block;
    float:left;
    font-family:Icon;
    font-size:16px;
    width:1.2em;
    margin-left:-1.2em;
    vertical-align:-.1em*/
}

.repo last-child:li{
  padding-right: 0!important;
  margin-right: 0!important;
}

.image {
    border: 0;
    display: inline-block
}

.image img,.image.fit,.image.main {
    display: block
}

.image.left,.image.right {
    max-width: 40%
}

.image.left {
    float: left;
    padding: 0 0.5em 0.5em 0;
    top: .25em
}

.image.right {
    float: right;
    padding: 0 0 0.5em 0.5em;
    top: .25em
}

.image.fit {
    margin: 0 0 2em
}

.image.featured {
    display: block;
    margin: 0 0 3em;
    width: 100%
}


@media screen and (max-width: 375px){

  .zustand{
    display: block;
  }



  .repo {
    }

 .repo li {
      white-space:normal;
      display:inline-block;
      padding-right: 0;
    }

    .toc {
      margin-top: 0em !important;
      /*font-family: 'Amatica SC', cursive;*/
    }

.article p a { overflow-wrap: break-word;
 word-wrap: break-word;}

.article h4{
      font-size: 1.067em;
}

.article h3{
      font-size:1.215em;
}

.article .data {
  margin-top: 0;
  margin-bottom: 0;
  padding: 1em 0 0 0 ;
  text-align:left !important;
}

.article .data table {
  margin: 3px;
}

.article table td {padding: 0.5em;}
.article table th {padding: 0.5em;}

}

@media screen and (max-width: 505px){

  .repo li {width: 100%}
  .repo a {
    width: 100%;
    font-size: 1em;
    margin-bottom: 10px;
    text-transform: none;
    border-bottom: none;
  }

  .image.main {
    margin: 0 0 3em
}

 .image.right, .image.left {max-width: 60%}

 /*blockquote { margin-left: 0; }*/
}

@media screen and (min-width: 506px){

.repo ul {width:100%}
.repo li {
  width: 48%;
  margin: 0 0.2em;
}

/*make last item full width instead of half column*/
/*.repo li:last-child {
  width: 97.6%;
}*/

.repo a {width:100%}

/*.repo li:last-child a{
          width: 100%;
        }*/
}

@media only screen and (min-width: 720px){
  /*Fix offset that occurs when clicking anchors in the toc*/
  :target:before {
  content:"";
  display:block;
  height:90px; /* fixed header height*/
  margin:-90px 0 0; /* negative fixed header height */
  }

.project .name {
  /*margin-top: 0;
  padding-top: 0;
  padding: 128px 24px 96px;*/
  font-size:inherit;
}

.article .data {
  margin-top: 0;
  margin-bottom: 0;
  text-align:left !important;
}

.article p, .article h1, .article h2, .article h3, .article h4, .article table, .article blockquote, .article aside, .article .data, .article ul {
  /*padding-left: 30px;*/
  margin-left: 40px;
  margin-right: 20px;
  /*max-width: 37.5em;*/
    }

.admonition {
  margin: 20px -16px 0;
  padding: 20px 16px;
}

.note h2 {
  padding: 0 0 0 0;
  margin-top: 0.5em;
}

.note {
    margin-bottom: 1.5em;
}

}
