.article ol, .article p, .article ul {
    margin-top: 0.3em;
}

blockquote p {
    margin-top: 1em;
    padding-top: 1em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 1px;
    -webkit-margin-end: 1px;
}

blockquote {
    margin: 1em;
    border-top: 0.1em solid;
    border-bottom: 0.1em solid;
    padding: 0 1em;
    font-family: Palatino, Georgia, serif;
    /*font-style: italic;*/
    font-size: 1.125em;
    /*line-height: 1.5;
    letter-spacing: 0.05em;*/
    color: black;
    border-color: #ccc;
    border-color: rgba(0,0,0,0.2);
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    -o-border-radius: 0.25em;
    border-radius: 0.25em;
}

/* Change admonition-note color to a paler blue background and dark text*/
.note {
  margin-top: 2em;
  background-color: #ccf5ff;
  color: #002733;
}

/*smaller padding-top for the header in admonition-notes*/
.note h2 {
  padding: 2em 0 0 0;
  margin-top: -2.25em;
}

.project .logo img {
  border-radius:0%
}

.article .wrapper{padding:90px 24px 96px}


/*Remove the weird list item arrow before each item för buttons*/
/*.repo ul>li:before {
    content: "";
}*/


.repo {
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }


.repo li {
  margin-left:0;
  padding-right: 5px;
}

.repo img {
  float: left;
}

.repo a {
  color: white!important;
  text-align: left;
  font-size: 14px;
  margin-bottom: 10px;
  text-transform: none;
  border-bottom: none;
  width: 15em;
  height: 5em;
  background-color: #00bcd4;
}

.repo-download {
    padding: 0em;
    margin-left: 0;
    margin-right: 0;
  }



.repo li:before{
    content: ""!important;
    margin-left:0!important;
    margin-right: 0;
    /*display:block;
    float:left;
    font-family:Icon;
    font-size:16px;
    width:1.2em;
    margin-left:-1.2em;
    vertical-align:-.1em*/
}

.repo last-child:li{
  padding-right: 10px!important;
  margin-right: 0!important;
}

@media screen and (max-width: 375px){
  .repo a {
    width: 15em;
    height: 5em;
  }

  .repo {
    }

 .repo li {
      white-space:normal;
      display:inline-block;
      padding-right: 0.5em;
    }

}
