{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
<nav>
  <ul class="blogpagination">

    {{ if .Paginator.HasPrev }}
    <li><a href="{{ .URL }}page/{{ .Paginator.Prev.PageNumber }}/#aktuelles">&larr; Zurück</a></li>
    {{ else }}
    <li class="disabled">Weiter im Blog: </li>
    {{ end }}

    {{ if .Paginator.HasNext }}
    <li><a href="{{ .URL }}page/{{ .Paginator.Next.PageNumber }}/#aktuelles">Weiter &rarr; </a></li>
    {{ else }}
    <li class="disabled">Das ist alles.</li>
    {{ end }}

  </ul>
</nav>
{{ end }}
